# COPY THIS FILE TO .env AND UPDATE THE VALUES ACCORDINGLY

USER_DB_NAME=jmicromart_user
USER_DB_USER=jmicromart_user
USER_DB_PASSWORD=userdb-password

PRODUCT_DB_NAME=jmicromart_product
PRODUCT_DB_USER=jmicromart_product
PRODUCT_DB_PASSWORD=productdb-password

JWT_SECRET=dev-secret
JWT_EXPIRATION_MS=3600000
